.header {
    width: 100%;
    max-width: 1400px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.nav {
    display: none;
}

.logo {
    background-image: url(../../img/logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 240px;
    margin: 0 auto;
}

.header__navigation {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: unset;
    position: relative;
}

.header__navigation-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 150px;
    font-size: $commontext;
    z-index: 9999;
    margin-top: 85px;
    margin-right: 5px;
    text-align: center;
}

@media screen and (max-width: 968px) {
    .header-desktop-nav {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
    .nav {
        display: block;
    }
}