@import '_variables';
@import 'about.scss';
@import 'contacts.scss';
@import 'header.scss';
@import 'mainpage.scss';
@import 'shop.scss';
@import 'footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
html {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

body {
    background-color: #fff;
    width: 100%;
    font-family: $font-family;
}

h1 {
    font-weight: normal;
    font-family: $font-family;
    font-size: $h1;
}

h2 {
    font-family: $font-family;
    font-size: $h2;
}

p {
    font-size: $commontext;
}

li {
    font-size: $commontext;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    width: 150px;
    line-height: 48px;
    background: url(../../img/hoverbg.png) no-repeat;
    background-size: 0%;
}

a:hover {
    transition: all 0.3s;
    background: url(../../img/hoverbg.png) no-repeat;
    background-size: 100%;
}

.btn:hover {
    background: unset;
}

.page {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

.fade {
    opacity: 0;
}

.hr-line {
    display: block;
    margin: 0 auto;
    border-top: 1px solid rgb(15, 0, 17);
    width: 100%;
    max-width: 1400px;
    margin-bottom: 100px;
}

.button {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: rgba(196, 196, 196, 0.6);
    color: black;
    font-family: $font-family;
    &:hover {
        cursor: pointer;
        background-color: rgba(252, 195, 183, 1);
    }
}

canvas {
    left: 53%;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 55%;
    z-index: 1;
}

.top {
    z-index: 9999;
}

.logo {
    background-image: url(../../img/logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 240px;
    margin: 0 auto;
}

.header__logo {
    margin: unset;
}

.activelink {
    background: url(../../img/hoverbg.png) no-repeat;
    background-size: 100%;
}

.menu {
    background-image: url(img/top_menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 7px;
    position: absolute;
    right: 36px;
    top: 34px;
    width: 239px;
}

.mask {
    position: absolute;
}

.mainheader__navigation {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
    position: relative;
}

.mainheader__navigation-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    font-size: $commontext;
    z-index: 9999;
    text-align: center;
}

.mainpagesection__title {
    display: block;
    height: 300px;
    width: 500px;
    margin-bottom: 300px;
    z-index: 9999;
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: 3s;
    position: relative;
}

.mainpagesection__title-text {
    font-family: $font-family;
    font-size: $h1;
    position: absolute;
    z-index: 9999;
}