.interriors__first-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.interriors__second-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.interriors__third-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.interrior__block-description-text {
    padding-top: 50px;
}

.interrior__first-block-coruselle {
    width: 600px;
}

// .interrior__first-block-description {
//     width: 600px;
//     height: 600px;
// }
// .interrior__second-block-description {
//     width: 600px;
//     height: 600px;
// }
// .interrior__third-block-description {
//     width: 600px;
//     height: 600px;
// }
.owl-carousel {
    width: 600px !important;
}

.owl-dot {
    width: 15px !important;
    height: 15px !important;
    margin: 5px;
    border: 1px solid rgb(22, 22, 22) !important;
    border-radius: 10px;
    background-color: black !important;
}

.owl-dots {
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.owl-nav {
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.owl-prev {
    transform: scale(3);
}

.owl-next {
    transform: scale(3);
}

.active {
    background-color: rgb(226, 226, 226) !important;
}