.interriors__first-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.interriors__second-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.interriors__third-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.interrior__block-description-text {
    padding-top: 10px;
}

.interrior__first-block-coruselle {
    width: 600px;
}

.first__block-title {
    text-align: right;
}

.third__block-title {
    text-align: right;
}

.interrior__first-block-description {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interrior__second-block-description {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interrior__third-block-description {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interriors-desc-title {
    align-self: flex-start;
    vertical-align: bottom;
}

.interrior-button {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: rgba(196, 196, 196, 0.6);
    color: black;
    font-family: $font-family;
    font-size: $buttonfont;
    font-weight: 500;
    align-self: flex-end;
    transform: scale(1);
    transition: all 0.4s;
    &:hover {
        transition: all 0.6s;
        transform: scale(1.05);
        cursor: pointer;
        background-color: rgba(252, 195, 183, 1);
        transition: all 0.4s;
    }
}

.interrior__btn-link {
    border: none !important;
    &:hover {
        border: none !important;
        border-top: unset !important;
        border-bottom: unset !important;
    }
}

.owl-carousel {
    width: 620px !important;
}

.owl-dot {
    width: 15px !important;
    height: 15px !important;
    margin: 5px;
    border: 1px solid rgb(22, 22, 22) !important;
    border-radius: 10px;
    background-color: rgb(248, 248, 248) !important;
}

.owl-dots {
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.owl-nav {
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.owl-prev {
    transform: scale(3);
}

.owl-next {
    transform: scale(3);
}

.active {
    background-color: rgb(63, 63, 63) !important;
}

@media screen and (max-width: 1268px) {
    .interriors__first-block {
        width: 100%;
        max-width: 1200px;
        display: block;
    }
    .interriors__second-block {
        width: 100%;
        max-width: 1200px;
        display: block;
    }
    .interriors__third-block {
        width: 100%;
        max-width: 1200px;
        display: block;
    }
    .owl-carousel {
        margin: 0 auto !important;
    }
    .interrior__first-block-coruselle {
        width: unset;
    }
    .first__block-title {
        text-align: center;
    }
    .second__block-title {
        text-align: center;
    }
    .third__block-title {
        text-align: center;
    }
    .interrior__block-description-text {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .interrior__first-block-description {
        width: unset;
        height: unset;
        display: flex;
    }
    .interrior__second-block-description {
        width: unset;
        height: unset;
        display: flex;
    }
    .interrior__third-block-description {
        width: unset;
        height: unset;
        display: flex;
    }
}

@media screen and (max-width: 720px) {
    .owl-item>img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .interrior__first-block-coruselle {
        overflow-x: hidden;
    }
    .interrior__second-block-coruselle {
        overflow-x: hidden;
    }
    .interrior__third-block-coruselle {
        overflow-x: hidden;
    }
}