.interriors__first-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.interriors__second-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.interriors__third-block {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.interrior__first-block-coruselle {
    width: 600px;
}

.interrior__first-block-description {
    width: 600px;
}

.owl-carousel {
    width: 600px !important;
}

.owl-dot {
    width: 10px !important;
    height: 10px !important;
    margin: 5px;
    border-radius: 10px;
    background-color: black !important;
}

.owl-dots {
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.owl-nav {
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.owl-prev {
    transform: scale(3);
}

.owl-next {
    transform: scale(3);
}

.active {
    background-color: rgb(163, 163, 163) !important;
}